{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Page
{% endblock %}

{% block body %}
    <h3>Edit page:</h3>
    <a href="https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax
    ">GitHub’s Markdown guide</a></p>
    
    <form action="{% url 'edit' entry=entry %}" method="post">
        {% csrf_token %}
        {{ form2.as_p }}
        <input type="submit" value="Save changes">
    </form>

{% endblock %}